/*******************************************************************************
 * CANVAS DRAW
 * Author   : 
 * Email    : 
 * CDF      : 
 * Student# : 

 * Author   : Pallak Grewal
 * Email    : pallak.grewal@mail.utoronto.ca
 * CDF      : c3grewal
 * Student# : 997293931
 ******************************************************************************/

body{
	background-color: #57BEAD;
	width: 1024px;
	height: 768px;
	margin: 0 auto;

	/***********************************
	Prevents all elements from being 
	selected and highlighted on clicking 
	down and draggin the mouse.
	Especially visible for 
	canvas on chrome.
	***********************************/
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.container{
	background-color: black;
	border: 2px solid #015245;
	height: 100%;
	width: 100%;
}

header{
	background-color: black;
	min-height: 14%;
}

UL{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

UL li{
	padding: 20px;
	border: 2px solid black;
	text-transform: capitalize;
}
  
.menu{
	background-color: #047F6A;
}

.menu UL li{
	display: inline-block;
	margin: 5px;
}

.shapes{
	display: inline-block;
}

input{
	width:100px;
}

.draw, .select, .move, .resize, .copy{
	display: none;
}

.toolbar{
	background-color: #047F6A;
	width: 20%;
	margin: 100px 0;
	float: left;
}

.toolbar UL li{
	width: 165px;
}


.highlightTool{
	background-color: #57BEAD;
}

.shortcut{
	display: inline-block;
	padding-left: 70px;
}

canvas{
	background-color: #F0E9EB;
	border:2px solid #015245;
	margin: 20px;
}

.canvasContainer{
	width: 80%;
	float: left;
	text-align: center;
}